<template>
  <div id="article-page">
    <Header username="username"/>
    <Aside active="Главная"/>
    <div class="container">
      <div class="row first">
        <div class="col-7">
          <div class="intro" :style="image"></div>
          <h3>{{ content[0].title }}</h3>
          <p>{{ content[0].description }}</p>
        </div>
        <div class="col-5">
          <h3>Читайте также</h3>
          <Article class="col-5" v-for="article in ARTICLES.data" :key="article.id" :data="article"/>
        </div>
      </div>
    </div>
    <Footer />
  </div>
</template>

<script>
import {mapActions, mapGetters} from 'vuex'

export default {
  name: 'ArticlePage',
  data: function () {
    return {
      id: this.$route.params['id'],
      content: {
        type: Object
      }
    }
  },
  watch: {
    $route(toRoute) {
      this.id = toRoute.params['id']
    }
  },
  computed: {
    ...mapGetters([
      'ARTICLES'
    ]),
    image() {
      return 'background: url(' + this.content[0].image + '); background-size: cover;';
    }
  },
  methods: {
    ...mapActions([
      'GET_ARTICLES_FROM_API'
    ]),
    getContent(){
      this.content = this.ARTICLES.data.filter(article => article.id == this.id);
    }
  },
  mounted() {
    this.GET_ARTICLES_FROM_API();
    this.getContent();
  },
  components: {
    Header: () => import('@/components/Header.vue'),
    Article: () => import('@/components/Blocks/Article.vue'),
    Footer: () => import('@/components/Footer.vue'),
    Aside: () => import('@/components/Aside.vue')
  }
}
</script>

<style>
  .intro {
    background: #fff;
    width: 100%;
    height: 377px;
    border-radius: 7px;
  }
</style>
