<template>
  <div id="home-page">
    <Header :username="username"/>
    <Aside active="Главная"/>
    <div class="container">
      <div class="row section first">
        <div class="section-title col">      
          <h2>Быстрый доступ</h2>
        </div>
      </div>
      <div class="row">
        <QuickButton title="Избранное" href="#"/> 
        <QuickButton title="Статистика" href="#"/> 
        <QuickButton title="Друзья" href="#"/>
      </div>
      <div class="row section">
        <div class="section-title col-10">      
          <h2>Статьи</h2>
        </div>
        <div class="col-2">
          <button class="btn btn-primary blue" type="button">Показать все</button>
        </div>
      </div>
      <div class="row">
        <Article v-for="article in ARTICLES.data.data.data" :key="article.id" :data="article"/>
      </div>
      <div class="row section">
        <div class="section-title col-10">      
          <h2>Видео</h2>
        </div>
        <div class="col-2">
          <button class="btn btn-primary blue">Показать все</button>
        </div>
      </div>
      <div class="row">
        <Video title="Первое видео" date="3" length="3:15" link="#" />
        <Video title="Второе видео" date="3" length="3:15" link="#" />
        <Video title="Третье видео" date="3" length="3:15" link="#" />
        <Video title="Четвертое видео" date="3" length="3:15" link="#" />
        <Video title="Пятое видео" date="3" length="3:15" link="#" />
        <Video title="Шестое видео" date="3" length="3:15" link="#" />
        <Video title="Седьмое видео" date="3" length="3:15" link="#" />
        <Video title="Восьмое видео" date="3" length="3:15" link="#" />
      </div>
      <div class="row section">
        <div class="section-title col-10">      
          <h2>Плейлисты</h2>
        </div>
        <div class="col-2">
          <button class="btn btn-primary blue" type="button">Показать все</button>
        </div>
      </div>
      <div class="row">
        <Playlist title="Первый плейлист" date="3" count="5" link="#" />
        <Playlist title="Второй плейлист" date="3" count="5" link="#" />
        <Playlist title="Третий плейлист" date="3" count="5" link="#" />
        <Playlist title="Четвертый плейлист" date="3" count="5" link="#" />
        <Playlist title="Пятый плейлист" date="3" count="5" link="#" />
        <Playlist title="Шестой плейлист" date="3" count="5" link="#" />
        <Playlist title="Седьмой плейлист" date="3" count="5" link="#" />
        <Playlist title="Восьмой плейлист" date="3" count="5" link="#" />
      </div>
    </div>
    <Footer />
  </div>
</template>

<script>
import {mapActions, mapGetters} from 'vuex'

export default {
  name: 'Main',
  data: 
    function () {
      return {
        id: '',
        email: '',
        username: ''
    }
  },
  beforeMount: function() {
    if(document.cookie) {
      let cookie = document.cookie,
          token = cookie.replace(/token=/g, '');
      this.getData(token);
    } else {
      this.$router.push({ name: 'signin' });
    }
  },
  computed: {
      ...mapGetters([
        'ARTICLES'
      ])
  },
  methods: {
    getData: function(token) {
      let myHeaders = new Headers();
      myHeaders.append("Authorization", `Token ${token}`);

      let requestOptions = {
        method: 'GET',
        headers: myHeaders,
        redirect: 'follow'
      };

      fetch("http://95.214.62.187/auth/me/", requestOptions)
        .then(response => response.text())
        .then(result => {
          let profileData = JSON.parse(result);
          this.type = profileData.data.type;
          this.id = profileData.data.id;
          this.username = profileData.data.attributes.username;
          this.email = profileData.data.attributes.email;
        })
        .catch(error => console.log('error', error));
    },
    ...mapActions([
      'GET_ARTICLES_FROM_API'
    ])
  },
  mounted() {
    this.GET_ARTICLES_FROM_API();
  },
  components: {
    Header: () => import('@/components/Header.vue'),
    Article: () => import('@/components/Blocks/Article.vue'),
    Video: () => import('@/components/Blocks/Video.vue'),
    Playlist: () => import('@/components/Blocks/Playlist.vue'),
    Footer: () => import('@/components/Footer.vue'),
    QuickButton: () => import('@/components/Buttons/QuickButton'),
    Aside: () => import('@/components/Aside.vue')
  }
}
</script>

<style>
  .preview {
    cursor: pointer;
  }

  .blue {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    font-weight: 700;
    width: 100%;
    height: 54px;
    border-radius: 7px;
    background: #9677F1;
  }
</style>
