<template>
  <div id="laws-page">
    <div class="container">
      <h3>Laws page</h3>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Signup',
  data: 
    function () {
      return {
        id: '',
        email: '',
        username: ''
    }
  }
}
</script>

<style>

</style>
