<template>
  <div id="signin-page">
    <div class="container">
      <div class="row">
        <div class="col-7">
          <h1 class="title">ServiceDriver</h1>
          <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <SignInWindow/>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Signin',
  components: {
    SignInWindow: () => import('@/components/SigninWindow.vue')
  }
}
</script>

<style>
#signin-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/auth-bg.png");
  background-size: cover;
}

body {
  background-size: cover;
}

.title {
  margin-top: 45px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 800;
  font-size: 60px;
}

.description {
  margin-top:50px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 40px;
}
</style>
