<template>
  <div id="signup-page">
    <div class="container">
      <SignUpWindow/>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Signup',
  components: {
    SignUpWindow: () => import('@/components/SignupWindow.vue')
  }
}
</script>

<style>
#signup-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/auth-bg.png");
  background-size: cover;
}
body {
  background-size: cover;
}
</style>
