<template>
  <div id="temporarily-not-available-page">
    <Header :username="username"/>
    <Aside/>
    <div class="container">
      <div class="section first">
        <h2>Страница временно недоступна</h2>
        <h3>Серверная часть для этой функции ещё не готова</h3>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Temp',
  data:
      function () {
        return {
          id: '',
          email: '',
          username: '',
        }
      },
  beforeMount: async function() {
    if(document.cookie) {
      let cookie = document.cookie,
          token = cookie.replace(/token=/g, '');
      this.getData(token);
      await this.getDataFromDB();
    } else {
      this.$router.push({ name: 'signin' });
    }
  },
  methods: {
    getData: function(token) {
      let myHeaders = new Headers();
      myHeaders.append("Authorization", `Token ${token}`);

      let requestOptions = {
        method: 'GET',
        headers: myHeaders,
        redirect: 'follow'
      };

      fetch("http://95.214.62.187/auth/me/", requestOptions)
          .then(response => response.text())
          .then(result => {
            let profileData = JSON.parse(result);
            this.type = profileData.data.type;
            this.id = profileData.data.id;
            this.username = profileData.data.attributes.username;
            this.email = profileData.data.attributes.email;
          })
          .catch(error => console.log('error', error));
    }
  },
  components: {
    Header: () => import('@/components/Header.vue'),
    Aside: () => import('@/components/Aside.vue')
  }
}
</script>

<style>
.blue {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  height: 54px;
  border-radius: 7px;
  background: #9677F1;
}
</style>
