<template>
  <div id="videos-page">
    <Header/>
    <div class="container">
      <div class="row section">
        <a class="col" href="/">&lt; Главная</a>
      </div>
      <div class="row">
        <div class="section-title col-10">      
          <h2>Видео</h2>
        </div>
        <div class="col-2">
          <select class="form-control">
            <option>Популярные</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
      <div class="row">
        <Video title="Первое видео" date="3" length="3:15" link="#" />
        <Video title="Первое видео" date="3" length="3:15" link="#" />
        <Video title="Первое видео" date="3" length="3:15" link="#" />
        <Video title="Первое видео" date="3" length="3:15" link="#" />
        <Video title="Первое видео" date="3" length="3:15" link="#" />
        <Video title="Первое видео" date="3" length="3:15" link="#" />
        <Video title="Первое видео" date="3" length="3:15" link="#" />
        <Video title="Первое видео" date="3" length="3:15" link="#" />
        <Video title="Первое видео" date="3" length="3:15" link="#" />
        <Video title="Первое видео" date="3" length="3:15" link="#" />
        <Video title="Первое видео" date="3" length="3:15" link="#" />
        <Video title="Первое видео" date="3" length="3:15" link="#" />
      </div>
    </div>
    <Footer />
  </div>
</template>

<script>
export default {
  name: 'Videos',
  components: {
    Header: () => import('@/components/Header.vue'),
    Video: () => import('@/components/Blocks/Video.vue'),
    Footer: () => import('@/components/Footer.vue')
  }
}
</script>

<style>
  .blue {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    font-weight: 700;
    width: 100%;
    height: 54px;
    border-radius: 7px;
  }
</style>
