<template>
    <div class="article col-3">
        <!-- Когда будет готова серверная часть - поменять атрибут to на "`/articles/${data.id}`" -->
        <router-link to="/temp">
            <div class="preview" :style="image"></div>
            <div class="text-content">
                <h3>{{ data.post_title }}</h3>
                <span>{{ time }} DAYS AGO</span>
            </div>
        </router-link>
    </div>
</template>

<script>
    export default {
        name: 'Article',
        computed: {
            image() {
                // return 'background: url(' + this.data.image + '); background-size: cover;';
                return 'background: #fff'
            },
            time() {
              let date1 = new Date(this.data.date);
              let date2 = new Date();
              return Math.ceil(Math.abs(date2.getTime() - date1.getTime()) / (1000 * 3600 * 24));
            }
        },
        props: {
            data: {
                type: Object,
                default() {
                return {}
                }
            }
        }
    }
</script>


<style>
    .article:hover .preview {
        transform: translateY(-4px);
        -webkit-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.03);
        -moz-box-shadow:    0px 15px 30px 0px rgba(0, 0, 0, 0.03);
        box-shadow:         0px 15px 30px 0px rgba(0, 0, 0, 0.03);
    }

    .article {
        margin-top: 46px;
    }

    .article .preview {
        background: #fff;
        height: 152px;
        border-radius: 7px;
        transition: 0.25s ease-in-out;
    }

    .article .text-content {
        margin-top: 16px;
    }

    .article h3 {
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        font-weight: 600;
        color: #3B405C;
    }

    .article span {
        font-family: "Source Sans Pro", sans-serif;
        font-family: 16px;
        font-weight: 600;
        color: #C0BFD3;
    }
</style>