<template>
    <div class="playlist col-3">
        <a href="/playlist/">
            <div class="preview">
               <img class="playlist-button" src="../../assets/icons/Playlist.svg" alt="">
            </div>
            <div class="text-content">
                <h3>{{ title }}</h3>
                <div class="tags">
                    <span>{{ count }} VIDEOS</span>
                    <span>•</span>
                    <span>{{ date }} DAYS AGO</span>
                </div>
            </div>
        </a>
    </div>
</template>

<script>
    export default {
        name: 'Playlist',
        props: {
            link: String,
            title: String,
            image: String,
            count: String,
            date: String
        }
    }
</script>


<style>
    .playlist {
        margin-top: 46px;
    }

    .playlist .preview {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        transition: 0.25s ease-in-out;
        height: 152px;
        border-radius: 7px;
        background: #fff;
    }

    .playlist:hover .preview {
        transform: translateY(-4px);
        -webkit-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.03);
        -moz-box-shadow:    0px 15px 30px 0px rgba(0, 0, 0, 0.03);
        box-shadow:         0px 15px 30px 0px rgba(0, 0, 0, 0.03);
    }

    .playlist .text-content {
        margin-top: 16px;
    }

    .playlist h3 {
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        font-weight: 600;
        color: #3B405C;
    }

    .playlist span {
        margin-left: 8px;
        font-family: "Source Sans Pro", sans-serif;
        font-family: 16px;
        font-weight: 600;
        color: #C0BFD3;
    }

    .playlist span:first-child {
        margin-left: 0;
    }

    .playlist .tags {
        display: flex;
        flex-flow: row nowrap;
    }

    .playlist .playlist-button {
        z-index: 5;
    }
</style>