<template>
    <aside class="nav">
        <ul>
            <li>
                <router-link id="link" to="/">
                    <div class="nav-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="19.508" viewBox="0 0 18 19.508">
                            <path id="House_sign" data-name="House sign" d="M0,5.781,8,.243l8,5.538V17.75H10v-6H6v6H0Z" transform="translate(1 0.757)" fill="none" stroke="#6d7188" stroke-linejoin="round" stroke-width="2"/>
                        </svg>
                    </div>
                    <span>Главная</span>
                </router-link>
            </li>
            <li>
                <router-link id="link" to="/education">
                    <div class="nav-icon">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="32.298" viewBox="0 0 30 32.298">
                        <g id="Icon" transform="translate(0 2.298)">
                          <rect id="Rectangle_523" data-name="Rectangle 523" width="30" height="30" fill="none"/>
                          <g id="Group_42" data-name="Group 42">
                            <path id="Path_1048" data-name="Path 1048" d="M.018.558,6.05,3.01,12.135.558V6.982L6.05,9.8.018,6.982Z" transform="translate(9.102 13.693)" fill="none" stroke="#6d7188" stroke-linejoin="round" stroke-width="2"/>
                            <path id="Path_1050" data-name="Path 1050" d="M5.221,5.221,17.657,0,12.436,12.436,0,17.657Z" transform="translate(15.152 -0.884) rotate(45)" fill="none" stroke="#6d7188" stroke-linejoin="round" stroke-width="2"/>
                            <path id="Rectangle_544" data-name="Rectangle 544" d="M0,0H2A0,0,0,0,1,2,0V6A1,1,0,0,1,1,7H1A1,1,0,0,1,0,6V0A0,0,0,0,1,0,0Z" transform="translate(23 13)" fill="#6d7188"/>
                          </g>
                        </g>
                      </svg>


                    </div>
                    <span>Обучение</span>
                </router-link>
            </li>
            <li>
                <router-link id="link" to="/temp">
                    <div class="nav-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="21.117" height="18.688" viewBox="0 0 21.117 18.688">
                            <g id="Book_sign" data-name="Book sign" transform="translate(1 1.035)">
                                <path id="Контур_1051" data-name="Контур 1051" d="M0,1.081S4.07-.689,6.46.049a5.736,5.736,0,0,1,3.1,1.822,5.736,5.736,0,0,1,3.1-1.822c2.39-.738,6.46,1.032,6.46,1.032V15.732s-4.07-1.77-6.46-1.032a5.736,5.736,0,0,0-3.1,1.822A5.736,5.736,0,0,0,6.46,14.7C4.07,13.962,0,15.732,0,15.732Z" transform="translate(0 0.131)" fill="none" stroke="#6d7188" stroke-linejoin="round" stroke-width="2"/>
                                <line id="Линия_1" data-name="Линия 1" y2="15.408" transform="translate(9.558 1.436)" fill="none" stroke="#6d7188" stroke-width="2"/>
                            </g>
                        </svg>
                    </div>
                    <span>Справочник</span>
                </router-link>
            </li>
            <hr>
            <li>
                <router-link id="link" to="/temp">
                    <div class="nav-icon">
                        <svg id="Icon" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                            <rect id="Rectangle_523" data-name="Rectangle 523" width="30" height="30" fill="none"/>
                            <path id="Message_sign" data-name="Message sign" d="M9.431,0c5.209,0,9.431,3.695,9.431,8.252S14.64,16.5,9.431,16.5a10.8,10.8,0,0,1-3.361-.558A5.9,5.9,0,0,1,.776,17.726c-1.05-.717,1.7-1.51,1.469-4.081A7.557,7.557,0,0,1,0,8.252C0,3.695,4.222,0,9.431,0Z" transform="translate(5.569 6)" fill="none" stroke="#6d7188" stroke-width="2"/>
                        </svg>
                    </div>
                    <span>Сообщения</span>
                </router-link>
            </li>
            <li>
                <router-link id="link" to="/temp">
                    <div class="nav-icon">
                        <svg id="Icon" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                            <rect id="Rectangle_523" data-name="Rectangle 523" width="30" height="30" fill="none"/>
                            <g id="Friends_sign" data-name="Friends sign" transform="translate(-923 6)" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M930,18c-1.488-1.4.389-8.128,8.355-8.128S948.46,16.541,947,18c-.722.722-4.526,1.072-8.366,1.072C934.711,19.072,930.751,18.707,930,18Zm4-13.5A4.5,4.5,0,1,1,938.5,9,4.5,4.5,0,0,1,934,4.5Z" stroke="none"/>
                                <path d="M 938.6340942382813 17.07167625427246 C 940.3413696289063 17.07167625427246 942.008544921875 16.99868774414063 943.3285522460938 16.86614799499512 C 944.4282836914063 16.7557258605957 945.06982421875 16.62868690490723 945.4235229492188 16.5372257232666 C 945.3873901367188 16.10623931884766 945.1781005859375 15.33205127716064 944.5318603515625 14.48097705841064 C 943.7919921875 13.50664710998535 942.0056762695313 11.87209701538086 938.3544311523438 11.87209701538086 C 934.7749633789063 11.87209701538086 933.0687866210938 13.46702766418457 932.370361328125 14.41774749755859 C 931.7383422851563 15.27807331085205 931.5532836914063 16.08168792724609 931.5332641601563 16.51335144042969 C 932.5338745117188 16.77205657958984 935.0713500976563 17.07165145874023 938.6334228515625 17.07167625427246 L 938.6340942382813 17.07167625427246 M 938.500244140625 6.999997138977051 C 939.8787231445313 6.999997138977051 941.000244140625 5.878497123718262 941.000244140625 4.499997138977051 C 941.000244140625 3.12149715423584 939.8787231445313 1.99999725818634 938.500244140625 1.99999725818634 C 937.1217651367188 1.99999725818634 936.000244140625 3.12149715423584 936.000244140625 4.499997138977051 C 936.000244140625 5.878497123718262 937.1217651367188 6.999997138977051 938.500244140625 6.999997138977051 M 938.6340942382813 19.07167625427246 C 938.6338500976563 19.07167625427246 938.6336669921875 19.07167625427246 938.6334228515625 19.07167625427246 C 934.7113647460938 19.07164764404297 930.7514038085938 18.7066478729248 929.9996948242188 17.99999809265137 C 928.5120239257813 16.60139656066895 930.3885498046875 9.872097015380859 938.3544311523438 9.872097015380859 C 946.3212280273438 9.872097015380859 948.4595947265625 16.54109764099121 946.9998168945313 17.99999809265137 C 946.278076171875 18.72175407409668 942.474365234375 19.07167625427246 938.6340942382813 19.07167625427246 Z M 938.500244140625 8.999997138977051 C 936.014404296875 8.999997138977051 934.000244140625 6.984897136688232 934.000244140625 4.499997138977051 C 934.000244140625 2.015097141265869 936.014404296875 -2.799377398332581e-06 938.500244140625 -2.799377398332581e-06 C 940.985107421875 -2.799377398332581e-06 943.000244140625 2.015097141265869 943.000244140625 4.499997138977051 C 943.000244140625 6.984897136688232 940.985107421875 8.999997138977051 938.500244140625 8.999997138977051 Z" stroke="none" fill="#6d7188"/>
                            </g>
                        </svg>
                    </div>
                    <span>Друзья</span>
                </router-link>
            </li>
            <hr>
            <li>
                <router-link id="link" to="/temp">
                    <div class="nav-icon">
                        <svg id="Icon" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                            <rect id="Rectangle_523" data-name="Rectangle 523" width="30" height="30" fill="none"/>
                            <g id="Stats_sign" data-name="Stats sign" transform="translate(-926 7.5)" fill="#fff" stroke-linejoin="round">
                                <path d="M 944.5004272460938 11.99970054626465 L 944.4996337890625 11.99960041046143 C 944.4988403320313 11.99960041046143 944.4984741210938 11.99956035614014 944.4984741210938 11.99954986572266 L 944.4996948242188 0.9999003410339355 L 944.5004272460938 11.99970054626465 Z M 940.4999389648438 11.99959945678711 C 940.4989624023438 11.99959754943848 940.49853515625 11.99954032897949 940.49853515625 11.99953079223633 L 940.5001220703125 6.000300407409668 L 940.4999389648438 11.99970054626465 L 940.4999389648438 11.99959945678711 Z M 936.5003051757813 11.99959945678711 C 936.4993286132813 11.99959468841553 936.4988403320313 11.99953079223633 936.4988403320313 11.99953079223633 L 936.4996337890625 2.999700307846069 L 936.5003051757813 11.99970054626465 L 936.5003051757813 11.99959945678711 Z M 932.4998168945313 11.99959945678711 C 932.4989013671875 11.99959468841553 932.4984130859375 11.99953079223633 932.4984130859375 11.99953079223633 L 932.5 7.000200271606445 L 932.4998168945313 11.99970054626465 L 932.4998168945313 11.99959945678711 Z M 948.5 11.99959945678711 C 948.4990844726563 11.99959373474121 948.4986572265625 11.99953079223633 948.4985961914063 11.99953079223633 L 948.500244140625 3.410339388665307e-07 L 948.5 11.99970054626465 L 948.5 11.99959945678711 Z" stroke="none"/>
                                <path d="M 951.0003051757813 16.49970054626465 L 930.9996337890625 16.49970054626465 C 930.4479370117188 16.49970054626465 929.9996948242188 16.05240058898926 929.9996948242188 15.49980068206787 C 929.9996948242188 14.94810009002686 930.4479370117188 14.49990081787109 930.9996337890625 14.49990081787109 L 951.0003051757813 14.49990081787109 C 951.552001953125 14.49990081787109 952.000244140625 14.94810009002686 952.000244140625 15.49980068206787 C 952.000244140625 16.05240058898926 951.552001953125 16.49970054626465 951.0003051757813 16.49970054626465 Z M 948.5001220703125 12.99960041046143 C 947.947509765625 12.99960041046143 947.500244140625 12.55230045318604 947.500244140625 11.99970054626465 L 947.500244140625 3.410339388665307e-07 C 947.500244140625 -0.5525996685028076 947.947509765625 -0.999899685382843 948.5001220703125 -0.999899685382843 C 949.052734375 -0.999899685382843 949.5 -0.5525996685028076 949.5 3.410339388665307e-07 L 949.5 11.99970054626465 C 949.5 12.55230045318604 949.052734375 12.99960041046143 948.5001220703125 12.99960041046143 Z M 944.4996337890625 12.99960041046143 C 943.9479370117188 12.99960041046143 943.4996948242188 12.55230045318604 943.4996948242188 11.99970054626465 L 943.4996948242188 0.9999003410339355 C 943.4996948242188 0.4473003447055817 943.9479370117188 3.410339388665307e-07 944.4996337890625 3.410339388665307e-07 C 945.05224609375 3.410339388665307e-07 945.5004272460938 0.4473003447055817 945.5004272460938 0.9999003410339355 L 945.5004272460938 11.99970054626465 C 945.5004272460938 12.55230045318604 945.05224609375 12.99960041046143 944.4996337890625 12.99960041046143 Z M 940.5 12.99960041046143 C 939.9474487304688 12.99960041046143 939.5001220703125 12.55230045318604 939.5001220703125 11.99970054626465 L 939.5001220703125 6.000300407409668 C 939.5001220703125 5.447700500488281 939.9474487304688 5.000400543212891 940.5 5.000400543212891 C 941.0526123046875 5.000400543212891 941.4999389648438 5.447700500488281 941.4999389648438 6.000300407409668 L 941.4999389648438 11.99970054626465 C 941.4999389648438 12.55230045318604 941.0526123046875 12.99960041046143 940.5 12.99960041046143 Z M 936.5004272460938 12.99960041046143 C 935.9478149414063 12.99960041046143 935.4996337890625 12.55230045318604 935.4996337890625 11.99970054626465 L 935.4996337890625 2.999700307846069 C 935.4996337890625 2.448000431060791 935.9478149414063 1.999800324440002 936.5004272460938 1.999800324440002 C 937.0521240234375 1.999800324440002 937.5003051757813 2.448000431060791 937.5003051757813 2.999700307846069 L 937.5003051757813 11.99970054626465 C 937.5003051757813 12.55230045318604 937.0521240234375 12.99960041046143 936.5004272460938 12.99960041046143 Z M 932.4999389648438 12.99960041046143 C 931.9473266601563 12.99960041046143 931.5 12.55230045318604 931.5 11.99970054626465 L 931.5 7.000200271606445 C 931.5 6.447600364685059 931.9473266601563 6.000300407409668 932.4999389648438 6.000300407409668 C 933.0525512695313 6.000300407409668 933.4998168945313 6.447600364685059 933.4998168945313 7.000200271606445 L 933.4998168945313 11.99970054626465 C 933.4998168945313 12.55230045318604 933.0525512695313 12.99960041046143 932.4999389648438 12.99960041046143 Z" stroke="none" fill="#6d7188"/>
                            </g>
                        </svg>
                    </div>
                    <span>Статистика</span>
                </router-link>
            </li>
            <li>
                <router-link id="link" to="/temp">
                    <div class="nav-icon">
                        <svg id="Icon" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                            <rect id="Rectangle_523" data-name="Rectangle 523" width="30" height="30" fill="none"/>
                            <path id="star_1_" data-name="star (1)" d="M18.95,7.376a1.009,1.009,0,0,0-.868-.693l-5.485-.5L10.429,1.11a1.01,1.01,0,0,0-1.858,0L6.4,6.184l-5.486.5A1.011,1.011,0,0,0,.344,8.449L4.49,12.085,3.268,17.469a1.01,1.01,0,0,0,1.5,1.092L9.5,15.733l4.729,2.828a1.011,1.011,0,0,0,1.5-1.092l-1.222-5.384,4.146-3.635A1.011,1.011,0,0,0,18.95,7.376Zm-9.359,8.3" transform="translate(5.258 5.185)" fill="none" stroke="#6d7188" stroke-width="2"/>
                        </svg>
                    </div>
                    <span>Избранное</span>
                </router-link>
            </li>
        </ul>
    </aside>
</template>

<script>
    export default {
        name: 'Aside',
        props: {
            active: String
        },
        mounted: function() {
            this.setActive() //method will execute at pageload
        },
        methods: {
            setActive: function() {
                let svgs = document.querySelectorAll("#link path");
                let links = document.querySelectorAll("#link");
                switch(this.active) {
                    case 'Главная': {
                        links[0].classList.add('active');
                        svgs[0].style.stroke = "#9677F1";
                        break;
                    }
                    case 'Обучение': {
                        links[1].classList.add('active');
                        svgs[1].style.stroke = "#9677F1";
                        svgs[2].style.stroke = "#9677F1";
                        svgs[3].style.fill = "#9677F1";
                        break;
                    }
                    case 'Справочник': {
                        links[2].classList.add('active');
                        svgs[4].style.stroke = "#9677F1";

                        break;
                    }
                }
            }
        }
    }
</script>

<style>
    .nav {
        float: left;
        width: 270px;
    }

    .nav a {
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        font-weight: 600;
        color: #6D7188;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    .nav span {
        padding-left: 16px;
    }

    .nav ul {
        padding-left: 75px;
        margin-top: 46px;
        list-style: none;
        position: fixed;
    }

    .nav .active {
        color: #9677F1;
    }

    .nav li {
        border-radius: 7px;
        margin-top: 16px;
        padding: 8px;
        width: 232px;
        transition: 0.15s ease-in-out;
    }

    .nav li:hover {
        background: rgba(0,0,0, 0.02);
    }

    .nav li:first-child {
        margin-top: 0;
    }
    
    .active {
        color: #9677F1;
    }

    .nav-icon {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
    }

    @media screen and (max-width: 1800px) {
        .nav span , .nav hr {
            display: none;
        }
    }
</style>