<template>
    <div class="header">
        <div class="logo">
			<h2>ServiceDriver</h2>
		</div>
		<div class="profile">
			<div class="actions">
                <a href="#">
                <img src="@/assets/actions/Search.svg" alt="Search">
                </a>
                <a href="#">
				<img src="@/assets/actions/Notification.svg" alt="Notification">
                </a>
			</div>
      <router-link to="/temp">
        <div class="quickProfile">
            <span>{{ username }}</span>
            <img id="profilePicture" src="/" alt="">
            <div id="profileMenu">
                <img src="@/assets/icons/Arrow.svg" alt="Menu">
            </div>
        </div>
      </router-link>
      </div>
    </div>
</template>

<script>
    export default {
        name: 'Header',
        props: {
            username: String
        }
    }
</script>

<style>
    .header {
        position: sticky;
        top: 0;
        width: 100%;
        height: 64px;
        background: #fff;
        display: flex;
        justify-content: space-between;
        flex-flow: row nowrap;
        align-items: center;
        -webkit-box-shadow: 0px -5px 30px 0px rgba(0, 0, 0, 0.06);
        -moz-box-shadow:    0px -5px 30px 0px rgba(0, 0, 0, 0.06);
        box-shadow:         0px -5px 30px 0px rgba(0, 0, 0, 0.06);
        z-index: 5;
    }

    .header .logo {
        margin-left: 75px;
    }

    .header .logo h2{
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        font-weight: 800;
        color: #3B405C;
        align-self: center;
    }

    .main-nav {
        margin-left: 140px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    .main-nav a {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin-left: 48px;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: 600;
        color: #6D7188;
    }

    .main-nav span {
        margin-left: 10px;
    }

    .main-nav img {
        stroke: #000;
    }

    .main-nav a:first-child {
        margin-left: 0px;
    }

    .profile {
        margin-right: 75px;
        display: flex;
        flex-flow: row nowrap;
    }

    .header .actions, .header .actions a { 
        margin-right: 20px;
    }

    .header .actions a:last-child {
        margin-right: 0;
    }

    #profilePicture {
        height: 40px;
        width: 40px;
        border-radius: 16px;
        background: #EEEDF3;
        margin-right: 16px;
    }

    .quickProfile {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    .quickProfile span {
        font-family: "Source Sans Pro", sans-serif;
        font-size: 16px;
        font-weight: 600;
        margin-right: 16px;
        color: #6D7188;
    }
</style>