<template>
    <div class="signin col-4 .offset-1">
      <div class="signin-top">
        <div class="signin-head">
            <h2>Вход</h2>
            <div class="new-account">
                <span>Нет аккаунта?</span>
                <router-link to="/signup">Создайте его!</router-link>
            </div>
        </div>
        <form @submit.prevent="">
            <div class="input-text">
                <label for="username">Имя пользователя</label>
                <input type="text" v-model="username" required>
            </div>
            <div class="input-text">
                <label for="password">Пароль</label>
                <input type="password" v-model="password" required>
            </div>
            <div>
                <input type="checkbox" v-model="remember">
                <label for="remember">Запомнить меня</label>
            </div>
        </form>
        <div class="social">
          <div></div>
          <div></div>
          <div></div>
        </div>
    </div>
      <div class="signin-bottom">
          <a href="#">Не можете войти?</a>
          <Button isLink="false" @action="sendRequest" color="btn-b" textContent="Войти" />
      </div>
    </div>
</template>

<script>
    export default {
        name: 'SigninWindow',
        data: function () {
            return {
                username: '',
                password: '',
                remember: false
            }
        },
        components: {
          Button: () => import('@/components/Buttons/Button.vue')
        },
        methods: {
            sendRequest: function() {
                let myHeaders = new Headers();
                myHeaders.append("Content-Type", "application/x-www-form-urlencoded");

                let urlencoded = new URLSearchParams();
                urlencoded.append("password", this.password);
                urlencoded.append("username", this.username);

                let requestOptions = {
                method: 'POST',
                headers: myHeaders,
                body: urlencoded,
                redirect: 'follow'
                };
                fetch("http://95.214.62.187/auth/token/create/", requestOptions)
                .then(response => response.text())
                .then(result => {
                    let responseData = JSON.parse(result),
                        authToken = responseData.data.attributes.auth_token,
                        date = new Date();
                    date.setDate(date.getDate() + 365);
                    if(this.remember) {
                        document.cookie = `token=${authToken};expires=${date}`;
                    } else {
                        document.cookie = `token=${authToken}`;
                    }
                    this.$router.push({ name: 'home' });
                    
                })
                .catch(error => console.log('error', error));
            }
        }
    }
</script>

<style>
    .signin {
      padding: 0;
      font-family: "Montserrat", sans-serif;
      height: 561px;
      background: #fff;
      border-radius: 30px;
      -webkit-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.05);
      -moz-box-shadow:    0px 15px 30px 0px rgba(0, 0, 0, 0.05);
      box-shadow:         0px 15px 30px 0px rgba(0, 0, 0, 0.05);
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
    }

    .signin-top {
      display: flex;
      flex-flow: column nowrap;
    }

    .signin-head {
      margin-top: 15px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
    }

    .signin-head h2 {
      font-size: 32px;
      font-weight: 600;
      color: #3B405C;
    }

    .signin-top, .signin-bottom {
      padding: 30px;
    }

    .signin-bottom {
      background: #F7F7F7;
      height: 114px;
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      border-radius: 0 0 30px 30px;
    }

    .signin-bottom a {
      color: #C0BFD3;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 700;
      font-size: 16px;
    }

    .signin form {
      margin-top: 15px;
    }
    .input-text {
      margin-top: 30px;
      width: 100%;
      display: flex;
      flex-flow: column nowrap;
    }

    .input-text label {
      font-size: 16px;
      color: #C0BFD3;
      font-weight: 600;
      font-family: "Montserrat", sans-serif;
    }

    .input-text input {
      background: none;
      outline: none;
      border: none;
      border-bottom: 2px solid #EEEDF3;
      font-family: "Source Sans Pro", sans-serif;
      color: #6D7188;
      font-size: 18px;
      transition: 0.25s ease-in-out;
    }
    
    .input-text input:focus {
      background: none;
      outline: none;
      border: none;
      border-bottom: 2px solid #9677F1;
    }

    .new-account {
      font-size: 16px;
      font-family: "Source Sans Pro", sans-serif;
    }

    .new-account span {
      margin-right: 8px;
      color: #C0BFD3;
    }

    .new-account {
      color: #9677F1;
    }

    .social {
      align-self: center;
      margin-top: 43px;
      width: 244px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
    }

    .social div {
      border-radius: 20px;
      width: 40px;
      height: 40px;
      background: #F7F7F7;
    }
</style>