<template>
  <div class="signup-wrapper">
    <div class="signup col-10 center-block">
      <div class="signup-top">
        <div class="signup-head">
          <h2>Регистрация</h2>
          <div class="to-account">
            <span>Уже есть аккаунт?</span>
            <router-link to="/signin">Выполните вход!</router-link>
          </div>
        </div>
        <form @submit.prevent="">
          <div>
            <div class="input-text">
              <label for="firstname">Имя</label>
              <input type="text" v-model="firstname" required>
            </div>
            <div class="input-text">
              <label for="email">Электронная почта</label>
              <input type="text" v-model="email" required>
            </div>
            <div class="input-text">
              <label for="password">Пароль</label>
              <input type="text" v-model="password" required>
            </div>
          </div>
          <div class="second-column">
            <div class="input-text">
              <label for="lastname">Фамилия</label>
              <input type="text" v-model="lastname" required>
            </div>
            <div class="input-text">
              <label for="username">Имя пользователя</label>
              <input type="text" v-model="username" required>
            </div>
            <div class="input-text">
              <label for="confirmpassword">Повторите пароль</label>
              <input type="text" v-model="confirmpassword" required>
            </div>
          </div>
        </form>
      </div>
      <div class="signup-bottom">
        <div class="signup-footer">
          <div>
            <input type="checkbox" required>
            <label>Принимаю условия <a href="#">лицензионного соглашения</a></label>
          </div>
          <button class="btn btn-primary" @click="sendRequest">Зарегистрироваться</button>
        </div>
      </div>
    </div>
    </div>
</template>

<script>
    export default {
        name: 'SignupWindow',
        data: function () {
            return {
                firstname: '',
                lastname: '',
                email: '',
                username: '',
                password: '',
                confirmpassword: ''
            }
        },
        methods: {
            sendRequest: function() {
                var myHeaders = new Headers();
                myHeaders.append("Content-Type", "application/x-www-form-urlencoded");

                var urlencoded = new URLSearchParams();
                urlencoded.append("email", this.email);
                urlencoded.append("username", this.username);
                urlencoded.append("password", this.password);

                var requestOptions = {
                method: 'POST',
                headers: myHeaders,
                body: urlencoded,
                redirect: 'follow'
                };

                fetch("http://95.214.62.187/auth/users", requestOptions)
                .then(response => response.text())
                .then(result => {
                  console.log(result);
                  this.$router.push({ name: 'signin' });
                })
                .catch(error => console.log('error', error));
            }
        }
    }
</script>

<style>
    .signup {
        font-family: "Montserrat", sans-serif;
      padding: 0;
        background: #fff;
        height: 561px;
        border-radius: 30px;
        -webkit-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.05);
        -moz-box-shadow:    0px 15px 30px 0px rgba(0, 0, 0, 0.05);
        box-shadow:         0px 15px 30px 0px rgba(0, 0, 0, 0.05);
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
    }

    .signup form {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      padding: 0 15px;
    }

    .signup-bottom {
      background: #F7F7F7;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      padding: 30px;
      height: 114px;
      border-radius: 0 0 30px 30px;
    }

    .signup-footer {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }

    .signup-top {
      padding: 30px;
    }

    .signup-head {
        margin-top: 15px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .signup-head h2 {
        font-size: 32px;
        font-weight: 600;
        color: #3B405C;
    }

    .input-text {
        margin-top: 30px;
        width: 400px;
        display: flex;
        flex-flow: column nowrap;
    }

    .input-text label {
        font-size: 16px;
        color: #C0BFD3;
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
    }

    .input-text input {
        background: none;
        outline: none;
        border: none;
        border-bottom: 2px solid #EEEDF3;
        font-family: "Source Sans Pro", sans-serif;
        color: #6D7188;
        font-size: 18px;
        transition: 0.25s ease-in-out;
    }
    
    .input-text input:focus {
        background: none;
        outline: none;
        border: none;
        border-bottom: 2px solid #9677F1;
    }

    .to-account {
        font-size: 16px;
        font-family: "Source Sans Pro", sans-serif;
    }

    .to-account span {
        margin-right: 8px;
        color: #C0BFD3;
    }

    .to-account {
        color: #9677F1;
    }

    .second-column {
      margin-left: 30px;
    }
</style>