<template>
  <div class="alert-overlay-wrapper" ref="overlay-wrapper">
    <div class="alert-overlay">
      <div class="content">
        <h2>Вы уверены, что хотите завершить тестирование?</h2>
        <div class="overlay-footer">
            <button class="btn btn-success" @click="finish">Завершить</button>
            <button class="btn btn-danger" ref="overlay-close">Вернуться</button>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
export default {
  name: 'FinishTestAlert',
  methods: {
    close() {
      this.$emit('close')
    },
    finish() {
      this.$emit('doFinish')
    }
  },
  mounted() {
    let vm = this;
    document.addEventListener('click', function(item) {
      if(item.target === vm.$refs['overlay-wrapper']) {
        vm.close();
      }
    })
    document.addEventListener('click', function(item) {
      if(item.target === vm.$refs['overlay-close']) {
        vm.close();
      }
    })
  }
}
</script>


<style>
.overlay-content h3 {
  font-size: 22px;
}

.overlay-content .tags {
  font-size: 18px;
}

.overlay-footer {
  margin-top: 50px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
}

.alert-overlay-wrapper {
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0, 0.65);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
}
.alert-overlay {
  width: 600px;
  height: 350px;
  padding: 50px;
  position: fixed;
  background: #fff;
  z-index: 100;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow:    0px 0px 30px 0px rgba(0, 0, 0, 0.15);
  box-shadow:         0px 0px 30px 0px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.alert-overlay .content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
</style>